node_modules
dist
.DS_Store
*.log
.idea
.vscode
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
backend/node_modules
backend/dist
backend/.env
backend/.env.local
backend/storage/*
!backend/storage/.gitkeep
volumes/postgres/*
!volumes/postgres/.gitkeep
volumes/storage/*
!volumes/storage/.gitkeep
.env
.env.local
3D打印设计/
